@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&display=swap'); usado em modal */
/* @import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap'); */

.image-logo {
    width: 40px;
    height: 40px;
}

.navbar-text:hover {
    color: black;
    cursor: pointer;
    transition-duration: 950ms;
}

.imgEmail{
    width: 40px;
    height: 30px;
}

#Carrossel {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 24px;
}

.nav-link {
    color: rgb(97, 93, 93);
}


.nav-link:hover {
    color: black;
}

.navbar-text {
    margin-right: 0px;
}

.navbar-text:hover {
    color: black;
}

nav {
    background-color: #E4D4C8;
    color: rgb(97, 93, 93);
    /*border-bottom: 1px solid black;*/
}

.d-block.w-100 {
    height: 500px;
}

.mb-3 {
    float: left;
    width: 90%;
}

.btn.btn-primary {
    float: right;
}

#location {
    text-align: center;
    font-size: 18px;
}

#pesquisa {
    text-align: center;
}

.card {
    width: 16rem;
    margin-left: 13.8px;
    float: left;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    /* border: 1px solid rgb(109, 109, 109) !important; */
}

.card:hover{
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	-moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
	box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
    transition: 450ms;
}

h4 {
    text-align: center;
    margin-top: 19.8px !important;
}

#myFooter {
    background-color: #A47551;
    color: white;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .info {
    text-align: justify;
    color: #afb0b1;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter .logo {
    margin-top: 10px;
}

#myFooter .second-bar .logo a {
    color: white;
    font-size: 28px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .second-bar {
    text-align: center;
    background-color: #33373e;
}

#myFooter .second-bar a {
    font-size: 22px;
    color: #9fa3a9;
    padding: 10px;
    transition: 0.2s;
    line-height: 68px;
}

#myFooter .second-bar a:hover {
    text-decoration: none;
}

#myFooter .social-icons {
    float: right;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .instagram:hover {
    color: purple;
}

#myFooter .twitter:hover {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
    #myFooter .info {
        text-align: center;
    }
}

.col-sm-3.development {
    text-align: center;
    margin: 0px;
    padding: 0px;
}


/* CSS utilizado para posicionar o rodapé no final da página. */

html {
    height: 100% !important; 
}

body{
    font-family: 'Roboto', sans-serif !important;
}

li {
    list-style-type: none;
}

.ads {
    margin-left: 20%;
    width: 80%;
}

.img-ads {
    height: 268px;
}

#txt-ads {
    float: left;
    background: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.button-ads {
    width: 140px !important;
}

main {
    background-color: white;
}

body {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
    background-color: white;
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    min-height: 200px;
}

#myFooter {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

#fim {
    background-color: #523A28;
    color: white;
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
}

.active {
    color: black;
}


/* ESTILO TELA LOGIN */

.zero-raduis {
    border-radius: 0px !important;
}

a {
    color: #92badd;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    color: #212529;
}


/* STRUCTURE */

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

#formFooter {
    padding: 2px;
    text-align: right;
    width: 90%;
}


/* TABS */

h2.inactive {
    color: #cccccc;
}

h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
}


/* FORM TYPOGRAPHY*/

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #a68c69;
    border: none;
    color: white;
    width: 85%;
    padding: 10px 25px;
    text-align: center;
    border-radius: 7px !important; /*provavelmente tirar isso aq*/
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
    background-color: #63523c;
}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

input[type=text],
input[type=email] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 95%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus,
input[type=email]:focus {
    background-color: #fff;
    border-bottom: 2px solid #a68c69;
}

/*campo de pesquisa imoveis disponiveis */
.input-medium.search-query{
    border: 1px solid black;
}

.input-medium.search-query:focus{
    border: 1.9px solid #bb9311 !important;
    transition-duration: 600ms;
}

input[type=text]:placeholder,
input[type=email]:placeholder {
    color: #cccccc;
}


/* ANIMATIONS */


/* Simple CSS3 Fade-in-down Animation */

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


/* Simple CSS3 Fade-in Animation */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}


/* Simple CSS3 Fade-in Animation */

.underlineHover:after {
    display: block;
    width: 0;
    height: 2px;
    background-color: #a68c69;  /*esqueceu a senha underline*/
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover:after {
    width: 100%;
}


/* OTHERS */

*:focus {
    outline: none;
}

#icon {
    width: 30%;
}

.form-control-teste {
    margin: 50px !important;
}

.imagem-login {
    /* width: 380px !important;
    height: 120px !important;*/
    margin-left: auto !important;
    padding: 0px 0px 0px 0px !important;
}

form h2 {
    color: black;
}

.underlineHover {
    color: black;
}

.navbar-text {
    color: rgb(97, 93, 93);
}

.text-one-board {
    float: left;
    margin-left: 30px;
}

.obrigatorio {
    float: left;
    margin-left: 2.9px;
    color: red;
}


input[type=text], input[type=email] {
  width: 98% !important;
}


/* FIM ESTILO TELA LOGIN */

#msgErro {
    color: rgb(255, 4, 4);
}

#msgErro:hover{
    font-size: 16.5px;
    transition-duration: 400ms;
}

/* Inico Alugueis Disponiveis */

/* Tela listagem */

#listagem{
    margin: 20px !important;
    padding: 0px !important
}


.btn.btn-primary.btn-sm{
    border-radius: 8px;
}

.btn.btn-secondary.btn-sm{
    border-radius: 8px;
}

#corpo-listagem{
    background-color: #FFFAFA !important;
}

#corpo{
    background-color: #FFFAFA !important;
}

body{
    background-color: #FFFAFA !important;
}

textarea {
    resize: none;
    width: 87%;
    height: 20%;
    border-radius: 10px;
    border: 2px solid #A47551;
}

textarea:hover{
    border: 2.3px solid #a05c29;
    transition-duration: 400ms;
}

#solicitar-imovel{
    width: 200px !important;
    height: 45px !important;
    margin-left: 42% !important;
}

#trecho{
    text-align: center;
}

#solicitarButton{
    margin-top: 30px !important;
}

.img-thumbnail{
    border: none !important;
}

#menu{
    font-size: 10px;
    margin-right: 10px;
}

#inputImagem{
    margin-left: 5%;
    /* text-align: center !important; */
}

#staticBackdropLabel{
    color: white !important;
}

#imagemModal{
    float: left;
    width: 525px;
    height: 359px;
    border-radius: 10px !important;
}

.texto-imagem-modal{
    margin-left: 69% !important;
}

.alert.alert-success{
    text-align: center;
}

#botoes-footer{
    margin-right: 11% !important;
    margin-left: 13% !important;
}

.fadeIn.fourth.zero-raduis.botao-footer{
    width: 250px;
    /* margin-right: 70px !important; */
}

#cards-compra{
    margin: auto !important;
}

#aluguel{
    margin-left: 9px;
}
/* #contato{
    text-align: center !important;
} */

.input-medium.search-query{
    width: 450px !important;
    height: 40px !important;
    margin-left: 30% !important;
}

.add-on{
    width: 60px;
    height: 40px;
}

#trecho2{
    margin-top: 30px;
    text-align: center !important;
    margin-bottom: 0px;
    margin-left: 410px !important;
}

#anuncio-div{
    background-color: #98FB98;
    margin-bottom: 0px !important;
}

#sucesso-anuncio{
    margin-top: 8px !important;
    margin-bottom: -25px !important;
    height: 60px !important;
    text-align: center;
}

.card-title{
    text-align: center !important;
    /* teste */
}

#card-init{
    border: 1px solid rgb(218, 216, 216) !important;
    border-radius: 10px;
    width: 650px !important;
    margin: auto !important;
}

#imagem-cardSolicitacoes{
    border-radius: 50% !important;
    width: 190px !important;
    height: 190px !important;
    margin-top: 10px;
}

@media (max-width: 950px){
    .texto-imagem-modal{
        margin-left: 0% !important; 
    }
}

@media (max-width: 380px){
    .fadeIn.fourth.zero-raduis.botao-footer{
        margin-left: 7% !important;
        width: 210px !important;
    }
}

@media (max-width: 400px){
    #solicitar-imovel{
        margin-left: 20% !important;
    }
}

@media (max-width: 800px){
    .btn-secondary{
        /* text-align: center !important; */
        margin-left: 30% !important;
    }
}

@media (max-width: 500px){
    #formContent{
        width: 310px !important;
        /* font-size: 60px !important; */
    }

    #menu{
        font-size: 13px !important;
    }
}

@media (max-width: 550px){
    p#description-textarea{
        font-size: 15px !important;
        text-align: justify !important;
    }
}

@media (max-width: 555px){
    .card{
        margin-left: 130px !important;
    }
}

@media (max-width: 400px){
    .card{
        margin-left: 35px !important;
    }
}

@media (max-width: 810px){
    .btn.btn-outline-secondary{
        margin-left: 30px;
    }
}

@media (max-width: 660px){
    #trecho2{
        margin-left: 18px !important;
    }
}

@media(max-width: 500px){
    .input-medium.search-query{
        margin-left: -10px !important;
        width: 350px !important;
    }
}
@media(max-width: 400px){
    #button-search{
        margin-left: 120px !important;
    }
}

/* .modal.fade{
    font-family: 'Source Serif Pro', serif;
} */
/* #corpo-listagem{
    background-color: #F5FFFA;
} */

/*Fim alugueis disponiveis*/